.trackList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 16px;
}

.trackListEntry {
  display: flex;
  gap: 16px;
}

.trackListEntry img {
  width: 48px;
  height: 48px;
}

.trackListEntryInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.trackListEntryInfo p {
  margin: 0;
  padding: 0;
}

.trackListEntryInfo span {
  color: #666;
  font-size: 13px;
}