.trackList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.trackListEntry {
  display: flex;
  gap: 16px;
}

.trackListEntry img {
  width: 40px;
  height: 40px;
}

.trackListEntryInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.trackListEntryInfo p {
  margin: 0;
  padding: 0;
}

.trackListEntryInfo span {
  color: #999;
  font-size: 13px;
}